* {
    box-sizing: border-box;
}

#contenido {
    display: flex;
    flex-flow: column;
    align-items: center;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid lightgrey;
    padding: 15px;
}

th {
    background-color: #4CAF50;
    color: white;
}

.codigo {
    cursor: pointer;
    background-color: rgb(0, 150, 255);
    color: #fff;
    text-align: center;
}

.codigo:hover {
    background-color: rgb(0, 100, 255);
}

#add {
    cursor: pointer;
    background-color: rgb(0, 150, 255);
    color: #fff;
    text-align: center;
}

#add:hover {
    background-color: rgb(0, 100, 255);
}

.editar {
    cursor: pointer;
    background-color: rgb(255, 187, 0);
    color: #fff;
    text-align: center;
}

.editar:hover {
    background-color: rgb(255, 150, 0);
}

.borrar {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: #fff;
    text-align: center;
}

.borrar:hover {
    background-color: rgb(200, 0, 0);
}